{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more →" -}}
  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" (dict "Params" (dict "toc" false)) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        <br class="hx:mt-1.5 hx:text-sm" />
        {{ if .Title }}<h1 class="hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="hx:mb-8"></div>

        {{/* 术语列表页（如 /categories/）：展示各分类与数量 */}}
        {{ if .Data.Terms }}
          <div class="hx:grid hx:grid-cols-1 hx:md:grid-cols-2 hx:lg:grid-cols-3 hx:xl:grid-cols-4 hx:gap-4">
            {{ range .Data.Terms }}
              <div class="hx:w-full">
                <a href="{{ .Page.RelPermalink }}" title="{{ .Page.LinkTitle }}" class="hx:font-medium hx:hover:text-primary-600">
                  {{- .Page.LinkTitle -}}
                  <span class="hx:text-sm hx:text-gray-500">&nbsp;{{ .Count }}</span>
                </a>
              </div>
            {{ end }}
          </div>
        {{ else }}
          {{/* 单个分类/标签页：以卡片列出文章 */}}
          <div class="content">{{ .Content }}</div>
          {{- $pages := .Pages -}}
          {{- $pagerSize := 20 -}}
          {{- $paginator := .Paginate $pages $pagerSize -}}
          {{- range $paginator.Pages }}
            <div class="hx:mb-10">
              <h3><a style="color: inherit; text-decoration: none;" class="hx:block hx:font-semibold hx:mt-8 hx:text-2xl" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
              <p class="hx:opacity-50 hx:text-sm hx:mt-2 hx:leading-7">{{ partial "utils/format-date" .Date }} · {{ .ReadingTime }} 分钟{{ if .Params.tags }} · {{ partial "tags.html" (dict "context" .) }}{{ end }}</p>
              <p class="hx:opacity-80 hx:mt-4 hx:leading-7">{{- partial "utils/page-description" . -}}</p>
              <p class="hx:opacity-80 hx:mt-1 hx:leading-7">
                <a class="hx:text-[color:hsl(var(--primary-hue),100%,50%)] hx:underline hx:underline-offset-2 hx:decoration-from-font" href="{{ .RelPermalink }}" aria-label="{{ printf "%s %s" $readMore .Title }}">
                  {{- $readMore -}}
                </a>
              </p>
            </div>
          {{ end }}
          {{- if gt $paginator.TotalPages 1 -}}
            {{ partial "components/blog-pager.html" $paginator }}
          {{- end -}}
        {{ end }}
      </main>
    </article>
    <div class="hx:max-xl:hidden hx:h-0 hx:w-64 hx:shrink-0"></div>
  </div>
{{ end }}
